#banner_image
{
    padding-top: 75px;
    padding-bottom:50px;
    text-align: center;
    color:#f8f8f8;
    background: url(images/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
  
}
#banner-content
{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width:    660px;
}
footer
{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.mx-320
{
    max-height: 320px;
}